@model KooliProjekt.Data.Cars

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="rental_rate_per_minute" class="control-label"></label>
                <input asp-for="rental_rate_per_minute" class="form-control" />
                <span asp-validation-for="rental_rate_per_minute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rental_rate_per_km" class="control-label"></label>
                <input asp-for="rental_rate_per_km" class="form-control" />
                <span asp-validation-for="rental_rate_per_km" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_available" /> @Html.DisplayNameFor(model => model.is_available)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
